node_modules
.next
.git
.gitignore
*.md
npm-debug.log*
.env*.local
.env
coverage
.nyc.output
dist
build
*.tgz
.nyc.json
.eslintcache
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
postcss.config.mjs
next-env.d.ts
tsconfig.tsbuildinfo