# Dependencias - El doble asterisco busca en todas las subcarpetas
**/node_modules/
.pnp
.pnp.*

# Variables de entorno - Bloquea cualquier archivo .env en cualquier nivel
.env
**/.env
.env*

# Next.js y Build
**/.next/
**/out/
**/dist/
**/build/

# Logs y Archivos de sistema
node_modules
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts